ul(class="nav nav-justified")
  li(class="active")
    a(href="/") Home
  li
    a(href="/pessoas") Amigos
  li
    a(href="/usuarios") Usuários
  li
    a(href="/email") Entra em Contato
  li
    a(href="/") Usuário Logado[sair]
