extends ../layout

block content
  div(class="jumbotron")
    h1 Curso de Node.js TegraInfo
    p(class="lead") 
      |Atendimento, processos, orgãos, documentos e orientação para abertura de pessoa juridica. 
      |Relacionamento com os tomadores de serviços, relatórios e emissão de nota fiscal. 
      |Recebimentos dos valores do prestador de serviço e pagamento de honorários para os médicos 
    p
      a(href="http://convenios.abmnet.org.br/servicos/", target="_blank" class="btn btn-lg btn-success") Acessar o site
                    
